<div id="dashboard-body">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" >Tickets Medrano</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a {{action "dashboard"}}>Dashboard</a></li>
          <li><a href {{action "logout"}}>Salida</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        {{admin-menu}}
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1>Préstamo</h1>
        <form>
          <div class="form-group">
            {{view "select" content=model
              class="form-control"
              prompt="Selecciona un operador"
              value=selected.operator
              optionValuePath="content.id"
              optionLabelPath="content.fullName"}}
          </div>
        </form>
        <div class="col-md-12">
          {{#if account.employee}}
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Nombre</th>
                <td>{{account.employee.name}} {{account.employee.lastName}}</td>
              </tr>
            </tbody>
          </table>
          {{/if}}
          {{#if account.loans}}
          <h3>Préstamos</h3>
          <table class="table table-striped">
            <thead>
              <th>Monto del prestamo</th>
              <th>Monto restante</th>
              <th>Tipo de pago</th>
              <th>Concepto</th>
              <th>Observaciones</th>
              <th>Número</th>
              <th>Fecha del prestamo</th>
            </thead>
            <tbody>
              {{#each account.loans as |loan|}}
                <tr>
                  <td>{{format-money loan.loanAmount}}</td>
                  <td>{{format-money loan.missingAmount}}</td>
                  <td>
                    {{#if (eq loan.type 'PERCENTAGE')}}
                      Porcentaje
                    {{else}}
                      Monto
                    {{/if}}
                  </td>
                  <td>
                    {{#if (eq loan.concept 'unit-damage')}}
                      Daño general a la unidad
                    {{else if (eq loan.concept 'personal')}}
                      Personal
                    {{else if (eq loan.concept 'forgotten-passenger')}}
                      Pasajero olvidado
                    {{else if (eq loan.concept 'lost-suitcase')}}
                      Equipaje perdido
                    {{else if (eq loan.concept 'advance')}}
                      Anticipo de sueldo
                    {{else if (eq loan.concept 'diesel-exceded')}}
                      Excedente de diesel
                    {{else}}
                      Otro
                    {{/if}}
                  </td>
                  <td>{{loan.observations}}</td>
                  <td>{{loan.number}}</td>
                  <td>{{moment-format loan.dateCreated}}</td>
                  <td>
                    <a class="btn btn-info" {{action "modify" loan}}>Modificar</a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          {{/if}}
          {{#if account.discounts}}
          <h3>Descuentos</h3>
          <table class="table table-striped">
          </table>
          {{/if}}
          {{#if (eq section "modify")}}
          <h4>Modificar préstamo</h4>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Monto del préstamo</td>
                <td>{{format-money selectedLoan.loanAmount}}</td>
              </tr>
              <tr>
                <td>Monto faltante por pagar</td>
                <td>{{format-money selectedLoan.missingAmount}}</td>
              </tr>
              <tr>
                <td>Nuevo monto por pagar</td>
                <td>
                  {{input class="form-control" value=newAmount type="number"}}
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <a {{action "saveNewAmount" selectedLoan newAmount}} class="btn btn-warning">Guardar nuevo monto</a>
                </td>
              </tr>
            </tbody>
          </table>
          {{/if}}
          {{#if (eq section "authorize")}}
          <h4>Autorizar préstamo</h4>
          <div class="form-group">
            <label>Monto</label>
            {{input class="form-control" value=amount type="number"}}
          </div>
          <div class="form-group">
            <label>Tipo</label>
            {{view "select" content=types
              class="form-control"
              prompt="Selecciona un tipo"
              value=selected.type
              optionValuePath="content.id"
              optionLabelPath="content.text"}}
          </div>
          <div class="form-group">
            <label>Concepto</label>
            {{view "select" content=concepts
              class="form-control"
              prompt="Selecciona un concepto"
              value=selected.concept
              optionValuePath="content.id"
              optionLabelPath="content.text"}}
          </div>
          <div class="form-group">
            <label>Observaciones</label>
            {{input class="form-control" value=observations type="text"}}
          </div>
          <div class="form-group">
            <label>Número o porcentaje</label>
            {{input class="form-control" value=number type="number"}}
          </div>
          <a class="btn btn-success" {{action 'authorize' account.employee.id amount selected.type number observations selected.concept}}>Guardar</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
