<div id="page-wrapper">
	<header class="navbar-static-top style6" id="header">
		<div class="container">
			<h1 class="logo navbar-brand"><a href="/" title=
																			 "Turismo en Omnibus"><img alt="Turismo en Omnibus" src=
																																 "images/medher.png"></a></h1>
			<div class="pull-right hidden-mobile">
				{{user-login}}
			</div>
		</div><a class="mobile-menu-toggle" data-toggle="collapse" href=
						 "#mobile-menu-01">Mobile Menu Toggle</a>
		<div class="main-navigation">
			<div class="container">
				<nav id="main-menu" role="navigation">
					<ul class="menu">
						<li>
							<a href="/" title="Turismo Omnibus"><img alt=
																																"Agencia de Viajes Medher" draggable="true" src=
																																"images/tom_1.png"></a>
						</li>
						<li class="menu-item-has-children">
							<a href="/">Inicio</a>
						</li>
						<li class="menu-item-has-children">
              <a href="/viewTickets">Facturación / Tickets</a>
						</li>
						<li class="menu-item-has-children">
              <a href="/salePoints">Puntos de Venta</a>
						</li>
						<li class="menu-item-has-children">
              <a href="/about">Quienes somos</a>
						</li>
					</ul>
				</nav>
				<ul class="social-icons clearfix pull-right hidden-mobile">
          <li class="twitter">
            <a data-toggle="tooltip" href="http://www.twitter.com/viajes_medher" title="twitter"><i class=
            "soap-icon-twitter"></i></a>
          </li>
          <li class="facebook">
            <a data-toggle="tooltip" href=
            "https://www.facebook.com/MedherOficial/" title=
            "facebook"><i class="soap-icon-facebook"></i></a>
          </li>
				</ul>
			</div>
		</div>
		<nav class="mobile-menu collapse" id="mobile-menu-01">
			<ul class="menu" id="mobile-primary-menu">
				<li class="main-navigation"><img alt="Agencia de Viajes Medher"
																				 draggable="true" src="images/tom_1.png"></li>
				<li class="menu-item-has-children">
					<a href="/">Inicio</a>
				</li>
        <li class="menu-item-has-children">
          <a href="/viewTickets">Facturación / Tickets</a>
        </li>
        <li class="menu-item-has-children">
          <a href="/salePoints">Puntos de Venta</a>
        </li>
        <li class="menu-item-has-children">
          <a href="/about">Quienes somos</a>
        </li>
			</ul>
			<ul class="mobile-topnav container">
				<li>
					<a href="#">MI CUENTA</a>
				</li>
				<li>
					<a class="soap-popupbox" href="#">LOGIN</a>
				</li>
				<li>
					<a href="#%20class=">SIGNUP</a>
				</li>
			</ul>
		</nav>
	</header>
	<div class="page-title-container">
		<div class="container">
			<div class="page-title pull-left">
				<h2 class="entry-title">Detalle de pago</h2>
			</div>
			<ul class="breadcrumbs pull-right">
				<li><a href="/">INICIO</a></li>
				<li class="active">Detalle de pago</li>
			</ul>
		</div>
	</div>
	<section id="content">
		<div class="container">
			<div id="main">
        <div class="row">
          <h1>Detalle de venta</h1>
          {{#if model}}
            {{#if model.payed}}
              <h1>Muchas gracias por tu compra</h1>
              <p>
                Se ha efectuado el pago, puedes descargar tus boletos
              </p>

              <p>
                Número de venta:
                <strong>{{model.shortId}}</strong>
              </p>

              {{#if model.bill}}
                <a class="btn btn-info" href="http://api.medrano.just-cloud.com/sale/downloadBill/{{model.shortId}}?timeZone={{tz}}">Descargar factura</a>
                <a class="btn btn-info" href="http://api.medrano.just-cloud.com/sale/downloadXmlBill/{{model.shortId}}">Descargar XML</a>
              {{else}}
                <div class="form-group">
                  <label>Requiere factura</label>
                  {{input type="checkbox" checked=needBill}}
                </div>
                {{#if needBill}}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>RFC</label>
                        {{input class="form-control" value=billingData.rfc type="text" placeholder="RFC"}}
                        <a class="btn btn-info" {{action 'searchRfc' billingData.rfc}}>Buscar</a>
                      </div>
                      <div class="form-group">
                        <label>Nombre</label>
                        {{input class="form-control" value=billingData.name type="text" placeholder="Nombre"}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Código Postal</label>
                        {{input class="form-control" value=billingAddress.postalCode type="text" placeholder="Código Postal"}}
                      </div>
                      <div class="form-group">
                        <label>Dirección</label>
                        {{input class="form-control" value=billingAddress.address type="text" placeholder="Dirección"}}
                      </div>
                      <div class="form-group">
                        <label>Referencias</label>
                        {{input class="form-control" value=billingAddress.reference type="text" placeholder="Referencias"}}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Colonia</label>
                        {{input class="form-control" value=billingAddress.settlement type="text" placeholder="Colonia"}}
                      </div>
                      <div class="form-group">
                        <label>Municipio</label>
                        {{input class="form-control" value=billingAddress.municipality type="text" placeholder="Municipio"}}
                      </div>
                      <div class="form-group">
                        <label>Estado</label>
                        {{input class="form-control" value=billingAddress.state type="text" placeholder="Estado"}}
                      </div>
                    </div>
                  </div>
                  <a class="btn btn-success" {{action "generateBill" billingData billingAddress}}>Generar factura</a>
                {{/if}}
              {{/if}}
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Asiento</th>
                    <th>Salida</th>
                    <th>Destino</th>
                    <th># de boleto</th>
                    <th>Descargar boleto</th>
                  </tr>
                </thead>
                <tbody>
                {{#each model.tickets as |ticket|}}
                  <tr>
                    <td> {{ticket.name}} </td>
                    <td> {{ticket.seat}} </td>
                    <td> {{ticket.startingStop}} </td>
                    <td> {{ticket.endingStop}} </td>
                    <td> {{ticket.ticketId}} </td>
                    <td><a href="http://api.medrano.just-cloud.com/sale/downloadTicket/{{ticket.ticketId}}?timeZone={{tz}}">Descargar</a></td>
                  </tr>
                {{/each}}
                </tbody>
              </table>
            {{else}}
              <h1>Procesando el pago</h1>
              <p>El pago se esta procesando favor de esperar</p>
            {{/if}}
          {{/if}}
				</div>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="footer-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-4">
						<div class="pull-left">
							<a href="/" title="Turismo Omnibus"><img alt=
																																"Agencia de Viajes Medher" draggable="true" src=
																																"images/medher.png"></a>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<h2>Boletín</h2>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//turismoenomnibus.us15.list-manage.com/subscribe/post?u=33e40c8ba3f4bb5eec014e1a3&amp;id=6f33e03215" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<p>Suscribase a nuestro boletín para recibir las últimas promociones</p>
<div class="indicates-required"><span class="asterisk">*</span> indica requerido</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_33e40c8ba3f4bb5eec014e1a3_6f33e03215" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Suscribirse" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->
						<span><a href="politicas.html">Aviso de Privacidad</a><br>
							<a href="politicas.html">Términos y Condiciones</a></span>
					</div>
					<div class="col-sm-6 col-md-4">
						<br>
						<address class="contact-details">
							<span class="contact-phone"><i class="soap-icon-phone"></i>01 800 727 8633</span><br>
							<span class="contact-phone">WhatsApp: 55 2899 0715</span><br>
              <a class="contact-email" href="mailto:atencionaclientes@medher.mx"><i class="soap-icon-message"></i> atencionaclientes@medher.mx</a>
						</address>
						<ul class="social-icons clearfix">
              <li class="twitter">
                <a data-toggle="tooltip" href="http://www.twitter.com/viajes_medher" title="twitter"><i class=
                "soap-icon-twitter"></i></a>
              </li>
              <li class="facebook">
                <a data-toggle="tooltip" href=
                "https://www.facebook.com/MedherOficial/" title=
                "facebook"><i class="soap-icon-facebook"></i></a>
              </li>
						</ul>
                        <address class="contact-details">
                            <span>Solicita informes y cotización de renta de unidades al siguiente contacto:</span>
                            <br>
                            <a class="contact-email" href="mailto:viajesmedher@hotmail.com" style="padding-right: 0px">viajesmedher@hotmail.com</a>
                        </address>
                        <address class="contact-details">
                            <span>Solicita información de corridas a los siguientes números:</span>
                            <br>
                            <a class="contact-email" style="padding-right: 0px">Sucursal central: (833) 217-2228</a>
                            <br>
                            <a class="contact-email" style="padding-right: 0px">Sucursal norte: (833) 139-0149</a>
                            <br>
                            <a class="contact-email" style="padding-right: 0px">Horario de 24 hrs. Central: (833) 126-0010</a>
                        </address>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom gray-area">
			<div class="pull-right">
				<a class="animated" data-animation-type="bounce" href="#" id=
					 "back-to-top"><i class="soap-icon-longarrow-up circle"></i></a>
			</div>
			<div class="copyright pull-right">
				<p>© 2017 Turismo en Omnibus</p>
			</div>
		</div>
	</footer>
</div>
